/* Reset CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Font text */
html{
    font-family: 'Tajawal', sans-serif;
}
/* root  */
:root {
    --black-color: #000;
    --white-color: #fff;
}

.block-inline {
    display: inline-block;
}

/* Body code */
#wapper {
    width: 1440px;
    margin: 0 auto;
}

#header{
    display: flex;
    align-items: center;
    border-bottom: 2px solid #cdcddb ;
}

#logo {
    padding: 0 24px;
    cursor: pointer;
}


.header__navbar {
    flex: 1;
}

.header__navbar-ul {
    list-style-type: none;
    font-size: 14px;
}



.header__navbar-ul--item {
    display: inline-block;
    padding: 20px 12px;
    
}
.header__navbar-ul--item a {
    text-decoration: none;
    color: #565e6c;
    text-align: center;
}

.header__navbar-ul--item:hover a {
    color: #00bdd6;
    font-weight: 500;
    text-align: center;
    border-bottom: 2px solid #00bdd6;
    padding-bottom: 20px;
}

.header__navsearch {
    display: flex;
    align-items: center;
    margin:0 24px 0 0;
}
.img_header {
    padding-left: 16px;
    cursor: pointer;
}

.iconsearch {
    padding: 10px 0 10px 10px ;
    background-color: #dadada;
    color: #2b2e32;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: pointer;
}

#input_search-header {
    padding: 10px;
    width: 308px;
    background-color: #dadada;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#input_search-header:focus {
    outline: none;
}

#slide {
    margin:52px 127px 100px 133px;
}

#silde__title-path {
    font-size: 12px;
    color: #9095a0;
}

.title-path-dark {
    color: #000;
}

#silde__title-heading {
    font-size: 40px;
    padding: 18px 0;
}

#silde__title-starrating {
    display: flex;
    align-items: center;
    font-size: 12px;
}

#silde__title-starrating--number {
    font-size: 12px;
    padding: 0 8px;
}
#silde__title-starrating--reviewer {
    color: #9095a0;
}

#slide__img {
    display: grid;
    grid-template-areas: 
    'img__silde1 img__silde1 img__silde2 img__silde3'
    'img__silde1 img__silde1 img__silde4 img__silde5'
    ;
    margin-top: 18px;
}

#img__silde1{
    grid-area: img__silde1;
}
#img__silde2{
    grid-area: img__silde2;
}
#img__silde3{
    grid-area: img__silde3;
}
#img__silde4{
    grid-area: img__silde4;
}
#img__silde5{
    grid-area: img__silde5;
}
